#game-container{
    display: flex;
    position: absolute;
    padding-top: 19px;
    width: 100%;
    align-items: center;
}

#deck-container{
    order: 1;
    flex-grow: 1;
    text-align: center;

}

#current-card-container {
    order: 2;
    flex-grow: 1;
    text-align: center;
}

#current-card{
    max-width: 150px;
}

#stats-container{
    order: 3;
    flex-grow: 2;
}

#deck {

}

.card-deck{
    border: 1px solid black;
    border-radius: 3px;
    height: 200px;
    margin: 10px;
    max-width: 150px;
}